<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.evmobile.eversvik.stationmonitor">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/intercomicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver android:name=".src.activity.ServiceAutoStart">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".src.activity.ZapService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".src.activity.ZapDeviceCallActivity"
            android:label="Intercom Calls" />
        <activity
            android:name=".src.activity.ZapDevice1Activity"
            android:label="@string/app_name">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".src.activity.ZapDevice2MenuActivity"
            android:parentActivityName=".src.activity.ZapDevice1Activity" />
        <activity
            android:name=".src.activity.ZapDeviceCreateActivity"
            android:parentActivityName=".src.activity.ZapDevice1Activity" />
        <activity
            android:name=".src.activity.ZapDeviceCallNewActivity"
            android:parentActivityName=".src.activity.ZapDevice2MenuActivity" />
        <activity
            android:name=".src.activity.ZapDeviceGpoActivity"
            android:parentActivityName=".src.activity.ZapDevice2MenuActivity" />
        <activity
            android:name=".src.activity.ZapDeviceGpiActivity"
            android:parentActivityName=".src.activity.ZapDevice2MenuActivity" />
        <activity
            android:name=".src.activity.ZapDeviceActionActivity"
            android:parentActivityName=".src.activity.ZapDevice2MenuActivity" />
        <activity
            android:name=".src.activity.ZapDeviceNotifyActivity"
            android:parentActivityName=".src.activity.ZapDevice2MenuActivity" />
        <activity
            android:name=".src.activity.IntercomStartActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>